<h1>Family Members</h1>

<% if current_user.id != @member.user_id %>
  <p>This family member does not belong to you.</p>
<% else %>
  Name: <%= @member.name %> <br>
  Age: <%= @member.age %><br>

<%# I want to change this such that it renders via a JSON serialization %>
<%# change Events: to a link that, when clicked, submits an ajax call for the @member's events %>
<%# subsequently, each event would display information when clicked via jquery %>
<%# The question then, is how do you format the json using html? %>
  Events: <br>
  <% @member.events.each do |e| %>
    <%= link_to e.name, event_path(e) %><br>
  <% end %><br><br>


  <%= link_to "Edit", edit_family_member_path(@member) %> | <%= link_to "Delete", family_member_path(@member), method: :delete %>
<% end %>

