<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@event.errors.count, "error") %> prohibited this post from being saved: 
    </h2>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_for @event do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br>

  <%= f.label :time %>:
  <%= f.text_field :time %><br>

  <%= f.label :location %>:
  <%= f.text_field :location %><br>

  <%= f.label :category %>:
  <%= f.text_field :category_name, list: "categories_autocomplete" %>
  <datalist id="categories_autocomplete">
    <% Category.all.each do |category| %>
      <option value="<%= category.name %>">
    <% end %>
  </datalist><br> 


<%# This is saving the family_member_ids, but not the required_items %>
<% current_user.family_members.each do |m| %>
<%= fields_for :family_member_events, @event.family_member_events.build do |fme| %>
    <%= fme.label :family_members %>:<br>
  <%= fme.collection_check_boxes :family_member_ids, current_user.family_members, :id, :name %><br>
    <%= fme.label :required_items %>
    <%= fme.text_field :required_items %><br>
<% end %><br>
<% end %>


  <%= f.submit %>

<% end %>



