<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@event.errors.count, "error") %> prohibited this post from being saved: 
    </h2>
    <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_for @event do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br>

  <%= f.label :time %>:
  <%= f.text_field :time %><br>

  <%= f.label :location %>:
  <%= f.text_field :location %><br>

  <%= f.label :category %>:
  <%= f.text_field :category_name, list: "categories_autocomplete" %>
  <datalist id="categories_autocomplete">
    <% Category.all.each do |category| %>
      <option value="<%= category.name %>">
    <% end %>
  </datalist><br> 

  <%= f.label :family_members %>:<br>
  <%= f.collection_check_boxes :family_member_ids, current_user.family_members, :id, :name %><br>

  <%= f.submit %>

<% end %>

<%# How can I nest this code block such that it assigns the field to each family_member? %>
<%#=# f.fields_for :family_member_events do |p| %>
    <%#= #p.label :required_items %>
    <%#= #p.text_field :required_items %>
  <%# #end %><br>








