<h1>Family Calendar</h1>

<%= link_to "Home", root_path %><br> 

<% if !!current_user %>
  <%= "Signed in as #{current_user.email}" %><br>
  <%= link_to("Sign out", destroy_user_session_path, :method => 'delete') %>
<% else %>
  <%= link_to "Sign Up", new_user_registration_path %> | 
  <%= link_to "Sign In", new_user_session_path %>
<% end %>





